.modalinput {
    display: flex;
    gap: 2rem;
  }
  
  .inputfiled {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  
  .link-section {
    grid-column: span 2;
  }
  select{
    height: 30%;
    width: 100%;
  }  